.popup__info{
  border:none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin-top: 26.5px;
  border-bottom: 1px solid rgb(0%, 0%, 0%, 0.2);
  width: 100%;
  padding: 0;
  height: 30px;
}
.popup__info:invalid {
  border: 1px solid red; /* красная рамка для некорректных данных */
} 

